@model List<Customer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chris' Cafe</h1>
    @Html.ActionLink("New User Registration", "Registration")
   
</div>
